@use "../variables/core-variables" as c;
$min-area-width: 600px;
$timer-gap: 0.25rem;
$line-height: var(--line-height);
$time-row-font-size: 0.875em;

.eventTimer {
    display: grid;
    grid-template-columns: 60px 1fr;

    .leftFrame {
        padding-right: $timer-gap;

        .spacer {
            height: $timer-gap;
        }

        .regionIndicatorContainer {
            padding-top: calc((#{$time-row-font-size} * #{$line-height}) + 1px);
            display: grid;
            gap: $timer-gap;
            margin-bottom: $timer-gap;

            .regionIndicator {
                color: var(--text-muted);

                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: flex-end;

                border: 0;
                border-right: 1px solid rgb(var(--muted-rgb));
                transition:
                    border-color var(--transition),
                    color var(--transition);

                .regionTitle {
                    margin-right: 0.25rem;
                }
                .regionBorder {
                    border: 0;
                    border-bottom: 1px solid rgb(var(--muted-rgb));
                    transition: border-color var(--transition);

                    width: calc(
                        ((#{$time-row-font-size} * #{$line-height}) + 1px) / 2
                    );
                    height: 0;
                }
            }
        }
    }

    // Note: right frame here can't be used to scroll horizontally,
    // as we are using a sticky element inside it.
    .rightFrame {
        display: grid;

        .widthRuler {
            overflow-x: auto;
            height: 0;
            & > div {
                min-width: $min-area-width;
            }
        }

        .eventContainer {
            overflow-x: auto;
            position: relative;

            .regions {
                min-width: $min-area-width;
                display: grid;
                gap: $timer-gap;
                margin-bottom: $timer-gap;

                .region {
                    display: grid;
                    gap: $timer-gap;
                }
                .area {
                    position: relative;
                    min-height: 2rem;
                    display: flex;
                    gap: 2px;

                    .phase {
                        line-height: $line-height;
                        font-size: 0.875em;
                        border-radius: 0.25rem;
                        padding: 0.2em 0.4em;
                        display: grid;

                        // Text height of title, text height of "time until",
                        // padding * 2
                        min-height: calc(
                            (1em * #{$line-height}) +
                                (0.875em * #{$line-height}) + (0.2em * 2)
                        );

                        .title {
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }
                        .timeUntil {
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;

                            font-size: 0.875em;
                        }

                        transition: opacity var(--transition);
                    }
                }
            }

            .currentTimeIndicator {
                height: 100%;
                position: absolute;
                border-left: 2px solid var(--red);
                transition: left var(--transition);
                z-index: 1;
            }

            .hoveredEventIndicator {
                height: 100%;
                position: absolute;
                border-left-width: 2px;
                border-left-style: solid;
                transition: left var(--transition);
                z-index: 3;
            }
        }

        .timeRow {
            position: sticky;
            top: -1 * (c.$page-content-padding-vertical);
            z-index: 10;
            overflow-x: auto;

            scrollbar-width: none; // Firefox
            &::webkit-scrollbar {
                display: none; // Chrome, Safari, Opera
            }

            .currentTimeIndicator {
                height: 100%;
                position: absolute;
                border-left: 2px solid var(--red);
                z-index: 1;
                transition: left var(--transition);
            }
            .hoveredEventIndicator {
                height: 100%;
                position: absolute;
                border-left-width: 2px;
                border-left-style: solid;
                transition: left var(--transition);
                z-index: 3;

                display: flex;

                .timeLabel {
                    padding-left: 0.5rem;
                    font-size: $time-row-font-size;
                }
            }
            .timeRowInnerWrapper {
                display: grid;
                grid-template-columns: repeat(8, 1fr);
                min-width: $min-area-width;
                border-bottom: 1px solid rgb(var(--muted-rgb));
                z-index: 2;

                & > div:not(.hoveredEventIndicator) {
                    display: grid;
                    grid-template-columns: auto 1fr;
                    align-items: end;
                    z-index: 2;

                    color: var(--text-muted);

                    .timeLabel {
                        padding-left: 0.5rem;
                        font-size: $time-row-font-size;
                        visibility: visible;

                        transition: opacity var(--transition);
                        opacity: 1;
                    }

                    .timeMarker {
                        width: 2px;
                        border-left-width: 1px;
                        border-left-style: solid;
                        border-color: rgb(var(--muted-rgb));
                        transition: border-color var(--transition);
                        height: 100%;
                    }
                }
                & > div:nth-child(even) .timeMarker {
                    height: 50%;
                }
            }
            .spacer {
                height: $timer-gap;
            }
            &.isHoveringEvent
                .timeRowInnerWrapper
                > div:not(.hoveredEventIndicator)
                .timeLabel {
                opacity: 0;
            }
        }
    }
}
