@use "../variables/core-variables" as c;
$min-area-width: 768px;
$timer-gap: 4px;
$line-height: var(--line-height);
$time-row-font-size: 0.875em;

[data-font-size="sm"]:root {
    .eventTimer {
        font-size: var(--font-size-sm);
    }
}
[data-font-size="md"]:root {
    .eventTimer {
        font-size: var(--font-size-md);
    }
}
[data-font-size="lg"]:root {
    .eventTimer {
        font-size: var(--font-size-lg);
    }
}

.eventTimer {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;

    .innerWrapper {
        max-width: 100%;
        width: 100%;
        transition: max-width 0.1s;
        display: grid;
        grid-template-columns: auto 1fr;

        @media (max-width: c.$media-md) {
            grid-template-columns: 1fr;
            .leftFrame {
                display: none;
            }
        }
    }

    &.isCollapsed {
        .innerWrapper {
            max-width: c.$content-width;
            width: 100%;
        }
    }

    .leftFrame {
        padding-right: $timer-gap;

        .spacer {
            height: $timer-gap;
        }

        .regionIndicatorContainer {
            padding-top: calc((#{$time-row-font-size} * #{$line-height}) + 1px);
            display: grid;
            gap: $timer-gap;
            margin-bottom: $timer-gap;

            .regionIndicator {
                color: var(--text-muted);

                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: flex-end;

                border: 0;
                border-right: 1px solid rgb(var(--muted-rgb));
                transition:
                    border-color var(--transition),
                    color var(--transition);

                .regionTitle {
                    margin-right: 0.25rem;
                }
                .regionBorder {
                    border: 0;
                    border-bottom: 1px solid rgb(var(--muted-rgb));
                    transition: border-color var(--transition);

                    width: calc(
                        ((#{$time-row-font-size} * #{$line-height}) + 1px) / 2
                    );
                    height: 0;
                }
            }
        }
    }

    // Note: right frame here can't be used to scroll horizontally,
    // as we are using a sticky element inside it.
    .rightFrame {
        display: grid;

        .widthRuler {
            overflow-x: auto;
            height: 0;
            & > div {
                min-width: $min-area-width;
            }
        }

        .eventContainer {
            overflow-x: auto;
            position: relative;

            .regions {
                min-width: $min-area-width;
                display: grid;
                gap: $timer-gap;
                margin-bottom: $timer-gap;

                .region {
                    display: grid;
                    gap: $timer-gap;
                }
                .area {
                    position: relative;
                    min-height: 2rem;
                    display: flex;
                    gap: 4px;

                    .phase {
                        line-height: $line-height;
                        font-size: 0.875em;
                        border-radius: 0.25rem;
                        padding: 0 0.2em;
                        display: grid;
                        border-width: 2px;
                        border-style: solid;
                        border-color: transparent;
                        transition:
                            background var(--transition),
                            border-color var(--transition);

                        user-select: none;
                        -webkit-user-select: none;

                        // Text height of title, text height of "time until",
                        // padding * 2
                        min-height: calc(
                            (1em * #{$line-height}) +
                                (0.875em * #{$line-height}) + (0.2em * 2)
                        );

                        &.isClickable {
                            cursor: pointer;
                        }
                        &:not(.isClickable) {
                            cursor: default;
                        }

                        .title {
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }
                        .timeUntil {
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;

                            font-size: 0.875em;
                        }
                    }
                }
            }

            .currentTimeIndicator {
                height: 100%;
                position: absolute;
                border-left: 2px solid var(--red);
                transition: left var(--transition);
                z-index: 1;
            }

            .hoveredEventIndicator {
                height: 100%;
                position: absolute;
                border-left-width: 2px;
                border-left-style: solid;
                transition: left var(--transition);
                z-index: 1;
            }
        }

        .timeRow {
            position: sticky;
            top: c.$topbar-height;
            z-index: 1;
            overflow-x: auto;

            scrollbar-width: none; // Firefox
            &::webkit-scrollbar {
                display: none; // Chrome, Safari, Opera
            }

            .currentTimeIndicator {
                height: 100%;
                position: absolute;
                border-left: 2px solid var(--red);
                z-index: 1;
                transition: left var(--transition);
            }
            .hoveredEventIndicator {
                height: 100%;
                position: absolute;
                border-left-width: 2px;
                border-left-style: solid;
                transition: left var(--transition);
                z-index: 1;

                display: flex;

                .timeLabel {
                    padding-left: 0.5rem;
                    font-size: $time-row-font-size;
                }
            }
            .timeRowInnerWrapper {
                display: grid;
                grid-template-columns: repeat(8, 1fr);
                min-width: $min-area-width;
                border-bottom: 1px solid rgb(var(--muted-rgb));

                & > div:not(.hoveredEventIndicator) {
                    display: grid;
                    grid-template-columns: auto 1fr;
                    align-items: end;

                    color: var(--text-muted);

                    .timeLabel {
                        padding-left: 0.5rem;
                        font-size: $time-row-font-size;
                        visibility: visible;

                        transition: opacity var(--transition);
                        opacity: 1;
                    }

                    .timeMarker {
                        width: 2px;
                        border-left-width: 1px;
                        border-left-style: solid;
                        border-color: rgb(var(--muted-rgb));
                        transition: border-color var(--transition);
                        height: 100%;
                    }
                }
                & > div:nth-child(even) .timeMarker {
                    height: 50%;
                }
            }
            .spacer {
                height: $timer-gap;
            }
            &.hideLabels
                .timeRowInnerWrapper
                > div:not(.hoveredEventIndicator)
                .timeLabel {
                opacity: 0;
            }
        }
    }
}

.eventPhaseMenu {
    position: absolute;
    background: rgb(var(--menu-background-rgb));
    border-radius: 0.25rem;
    width: 250px;

    top: 0;
    left: 0;

    border-width: 2px;
    border-style: solid;
    border-color: transparent;

    display: grid;
    gap: 0.5rem;
    padding: 0.5em 1.5em 0.5em 1em;

    .closeButtonWrapper {
        position: absolute;
        cursor: pointer;

        width: 1em;
        text-align: center;
        top: 0;
        right: 0;

        color: var(--text-muted);
        transition: color var(--transition);

        &:hover {
            color: rgb(var(--foreground-rgb));
        }
    }

    .eventTitle {
        font-size: 1.17em;
    }

    .buttonArea {
        display: grid;
        gap: 0.5rem;

        .buttonText {
            text-align: center;
            font-size: 0.875em;
            opacity: 0;
            color: var(--text-muted);
            transition: opacity var(--transition);
            min-height: calc((1em * #{$line-height}));
        }
    }
}
.eventPhaseModal {
    display: grid;
    gap: 0.5rem;

    .eventTitle {
        font-size: 1.17em;
    }

    .buttonArea {
        display: grid;
        gap: 0.5rem;

        .buttonText {
            text-align: center;
            font-size: 0.875em;
            opacity: 0;
            color: var(--text-muted);
            transition: opacity var(--transition);
            min-height: calc((1em * #{$line-height}));
        }
    }
}
.eventOptionsMenuModal {
    display: grid;
    gap: 1rem;
}

.eventOptionsMenu {
    .eventOptions__fullscreenOption {
        display: none;
        @media (min-width: calc(#{c.$content-width} + 2 * #{c.$page-content-padding-horizontal})) {
            display: flex;
        }
    }
}
