@use "../variables/core-variables" as c;

.pageContent {
    max-width: c.$content-width;
    margin: 0 auto;
}

[data-theme="dark"] .tile {
    background: rgb(var(--nav-background-rgb));
}

.textMuted {
    color: var(--text-muted);
}
