@use "../variables/core-variables" as c;

.pageContent {
    max-width: c.$content-width;
    margin: 0 auto;
}

.textMuted {
    color: var(--text-muted);
}

.fontTypeMono {
    font-family: var(--font-mono);
}
.fontTypeRegular {
    font-family: var(--font-regular);
}
