@use "../variables/core-variables" as c;

a {
    color: inherit;
    text-decoration: none;
    &:not(.internalLink):hover {
        text-decoration: underline;
    }
}

.centeredContent {
    max-width: c.$content-width;
    width: 100%;
    margin: 0 auto;
}

.textMuted {
    color: var(--text-muted);
}
.textLight {
    color: rgb(var(--foreground-light-rgb));
}
.textDark {
    color: rgb(var(--foreground-dark-rgb));
}

.fontTypeMono {
    font-family: var(--font-mono);
}
.fontTypeRegular {
    font-family: var(--font-regular);
}
