@use "../variables/core-variables" as c;

$topbar-height: 56px;

.layoutWrapper {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: $topbar-height auto;
    background-color: rgb(var(--nav-background-rgb));

    & > .pageContent {
        overflow-y: auto;
        padding: 1.6rem 2rem;
        box-shadow: inset 1px 1px 4px 1px rgba(0, 0, 0, 0.1);
        background: rgb(var(--background-rgb));
        position: relative;
    }
}

.header {
    background-color: rgb(var(--nav-background-rgb));
    position: relative;
    color: rgb(var(--primary-rgb));

    .content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: c.$content-width;
        margin: 0 auto;
        height: 100%;
        font-weight: 600;

        .logoLink {
            cursor: pointer;
            display: flex;
            align-items: center;
            gap: 0.25rem;
        }
    }
}
