@use "../variables/core-variables" as c;

$topbar-height: 56px;

.layoutWrapper {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: $topbar-height auto;
    background-color: rgb(var(--nav-background-rgb));

    & > .pageContent {
        overflow-y: auto;
        padding: c.$page-content-padding-vertical
            c.$page-content-padding-horizontal;
        box-shadow: inset 1px 1px 4px 1px rgba(0, 0, 0, 0.1);
        background: rgb(var(--background-rgb));
        transition: background-color var(--transition);
        position: relative;
    }
}
[data-font-size="sm"]:root {
    .layoutWrapper > .pageContent {
        font-size: var(--font-size-sm);
    }
}
[data-font-size="md"]:root {
    .layoutWrapper > .pageContent {
        font-size: var(--font-size-md);
    }
}
[data-font-size="lg"]:root {
    .layoutWrapper > .pageContent {
        font-size: var(--font-size-lg);
    }
}

.header {
    background-color: rgb(var(--nav-background-rgb));
    transition: background-color var(--transition);
    position: relative;
    color: rgb(var(--primary-rgb));
    padding: 0 0.5rem;

    .content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: c.$content-width;
        margin: 0 auto;
        height: 100%;
        font-weight: 600;

        .logoLink {
            cursor: pointer;
            display: flex;
            align-items: center;
            gap: 0.25rem;

            .title {
                display: grid;
                text-align: center;
                div:nth-child(2) {
                    position: relative;
                    font-size: 0.6rem;
                    margin-top: -0.3rem;
                    margin-bottom: -0.3rem;
                    &:before,
                    &:after {
                        content: "";
                        position: absolute;
                        top: 52%;
                        transform: translateY(-50%);
                        width: 12px;
                        height: 1px;
                        transition: background-color var(--transition);
                    }
                    &:before {
                        transform: translateX(calc(-100% - 2px));
                    }
                    &:after {
                        transform: translateX(2px);
                    }
                }
            }
        }
    }
}
