@use "../variables/core-variables" as c;

.pageWrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;

    .settingGroup {
        display: grid;
        gap: 1rem;
    }

    .inlineSetting {
        display: grid;
        grid-template-columns: 1fr auto;
        gap: 1rem;
        align-items: center;
    }

    .settingsButtons {
        display: flex;
        gap: 0.5rem;
    }

    .heading {
        display: flex;
        align-items: center;
    }
}

.schemeSelector {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;

    .schemeItem {
        border-width: 4px;
        border-radius: var(--border-radius);
        border-style: solid;
        padding: 0.5rem 0.25rem;
        text-transform: capitalize;
        position: relative;
        cursor: pointer;

        display: flex;
        justify-content: center;
        align-items: center;

        transition:
            transform 0.125s,
            border-color 0.15s;

        &:hover {
            transform: scale(1.05);
        }

        .colorIndicators {
            display: flex;
            gap: 0.25rem;
            position: absolute;
            right: 1rem;

            .colorIndicator {
                border-radius: 50%;
                width: 16px;
                height: 16px;
            }
        }
    }

    @media (max-width: c.$media-lg) {
        grid-template-columns: 1fr 1fr;
    }
    @media (max-width: c.$media-md) {
        grid-template-columns: 1fr;
    }
}
