$editor-padding-vertical: 3px;

.checklistItem {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: start;

    .itemCheckbox {
        padding: 0 4px;
        border-radius: 2px;
        min-height: calc(
            1em * var(--line-height) + 2 * #{$editor-padding-vertical}
        );

        svg {
            font-size: 1.2em;
        }
    }
}
