:root {
    --max-width: 1100px;
    --border-radius: 12px;
    --font-regular: "Noto Sans", sans-serif;
    --font-mono: "Noto Sans Mono", monospace;
    --font-size-sm: 0.875rem;
    --font-size-md: 1rem;
    --font-size-lg: 1.125rem;

    --primary-rgb: 126, 156, 216;
    --secondary-rgb: 230, 195, 132;
    --foreground-rgb: 220, 215, 186;
    --foreground-light-rgb: 220, 215, 186;
    --foreground-dark-rgb: 42, 42, 55;
    --background-rgb: 31, 31, 40;
    --nav-background-rgb: 42, 42, 55;

    --scrollbar-track-color: 22, 22, 29;
    --scrollbar-thumb-color: 220, 215, 186;

    --transition: 0.3s ease-in-out;

    --text-muted: #53565a;
    --muted-rgb: 83, 86, 90;
    --max-z: 2147483647;
    --line-height: 1.35;

    font-family: var(--font-mono);
    font-optical-scaling: auto;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1.35;
    font-weight: 400;

    --status-success: #98bb6c;
    --status-danger: #ff5d62;
    --status-warning: #ffa066;
    --status-info: #7fb4ca;

    --red: #e82525;
}

[data-font-type="regular"]:root {
    font-family: var(--font-regular);
}
[data-font-type="monospace"]:root {
    font-family: var(--font-mono);
}

[data-theme="kanagawa"]:root {
    --primary-rgb: 126, 156, 216;
    --secondary-rgb: 84, 84, 109;
    --foreground-rgb: 220, 215, 186;
    --foreground-light-rgb: 220, 215, 186;
    --foreground-dark-rgb: 42, 42, 55;
    --background-rgb: 31, 31, 40;
    --nav-background-rgb: 42, 42, 55;

    --scrollbar-track-color: 22, 22, 29;
    --scrollbar-thumb-color: 140, 140, 166;

    --text-muted: #54546d;
    --muted-rgb: 84, 84, 109;

    --status-success: #98bb6c;
    --status-danger: #ff5d62;
    --status-warning: #ffa066;
    --status-info: #7fb4ca;
}
[data-theme="gruvbox_dark"]:root {
    --primary-rgb: 184, 187, 38;
    --secondary-rgb: 102, 92, 84;
    --foreground-rgb: 235, 219, 178;
    --foreground-light-rgb: 235, 219, 178;
    --foreground-dark-rgb: 60, 56, 54;
    --background-rgb: 40, 40, 40;
    --nav-background-rgb: 60, 56, 54;

    --scrollbar-track-color: 29, 32, 33;
    --scrollbar-thumb-color: 235, 219, 178;

    --text-muted: #665c54;
    --muted-rgb: 102, 92, 84;

    --status-success: #b8bb26;
    --status-danger: #fb4934;
    --status-warning: #fabd2e;
    --status-info: #83a598;
}
[data-theme="dracula"]:root {
    --primary-rgb: 189, 147, 249;
    --secondary-rgb: 80, 250, 123;
    --foreground-rgb: 248, 248, 242;
    --foreground-light-rgb: 248, 248, 242;
    --foreground-dark-rgb: 68, 71, 90;
    --background-rgb: 40, 42, 54;
    --nav-background-rgb: 68, 71, 90;

    --scrollbar-track-color: 22, 23, 29;
    --scrollbar-thumb-color: 248, 248, 242;

    --text-muted: #585b74;
    --muted-rgb: 88, 91, 116;

    --status-success: #50fa7b;
    --status-danger: #ff5555;
    --status-warning: #ffb86c;
    --status-info: #8be9fd;
}
[data-theme="monokai"]:root {
    --primary-rgb: 166, 226, 46;
    --secondary-rgb: 253, 151, 31;
    --foreground-rgb: 253, 255, 241;
    --foreground-light-rgb: 253, 255, 241;
    --foreground-dark-rgb: 29, 30, 25;
    --background-rgb: 39, 40, 34;
    --nav-background-rgb: 29, 30, 25;

    --scrollbar-track-color: 26, 28, 23;
    --scrollbar-thumb-color: 253, 255, 241;

    --text-muted: #57584f;
    --muted-rgb: 87, 88, 79;

    --status-success: #a6e22e;
    --status-danger: #ff5555;
    --status-warning: #fd971f;
    --status-info: #66d9ef;
}
[data-theme="gruvbox_light"]:root {
    --primary-rgb: 121, 116, 14;
    --secondary-rgb: 168, 153, 132;
    --foreground-rgb: 60, 56, 54;
    --foreground-light-rgb: 249, 245, 215;
    --foreground-dark-rgb: 60, 56, 54;
    --background-rgb: 251, 241, 199;
    --nav-background-rgb: 249, 245, 215;

    --scrollbar-track-color: 213, 196, 161;
    --scrollbar-thumb-color: 102, 92, 84;

    --text-muted: #a89984;
    --muted-rgb: 168, 153, 132;
}
[data-theme="godspeed"]:root {
    --primary-rgb: 154, 187, 205;
    --secondary-rgb: 173, 171, 152;
    --foreground-rgb: 100, 102, 107;
    --foreground-light-rgb: 240, 235, 219;
    --foreground-dark-rgb: 100, 102, 107;
    --background-rgb: 233, 226, 204;
    --nav-background-rgb: 240, 235, 219;

    --scrollbar-track-color: 213, 196, 161;
    --scrollbar-thumb-color: 102, 92, 84;

    --text-muted: #adab98;
    --muted-rgb: 173, 171, 152;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
}

body {
    color: rgb(var(--foreground-rgb));
    background: rgb(var(--background-rgb));
}

html[data-theme="kanagawa"] {
    color-scheme: dark;
}

$scrollbar-thickness: 6px;
$scrollbar-thumb-border-radius: 6px;
$scrollbar-track-color: rgba(var(--scrollbar-track-color), 0);
$scrollbar-thumb-color: rgba(var(--scrollbar-thumb-color), 0.2);
$scrollbar-thumb-hover-color: rgb(var(--scrollbar-thumb-color));

/* scrollbar width */
::-webkit-scrollbar {
    height: $scrollbar-thickness;
    width: $scrollbar-thickness;
}

/* scrollbar Track */
::-webkit-scrollbar-track {
    background: $scrollbar-track-color;
}

/* scrollbar Handle */
::-webkit-scrollbar-thumb {
    background: $scrollbar-thumb-color;
    border-radius: $scrollbar-thumb-border-radius;
}

/* scrollbar Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: $scrollbar-thumb-hover-color;
}

[data-theme="gruvbox_light"] {
    /* scrollbar Handle */
    ::-webkit-scrollbar-thumb {
        background: rgba(var(--scrollbar-thumb-color), 0.6);
    }

    /* scrollbar Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: $scrollbar-thumb-hover-color;
    }
}

button {
    outline: none !important;
}

code {
    border: 1px solid rgba(var(--foreground-rgb), 0.1);
    border-radius: 3px;
    padding: 0 4px;
}

.transition-color {
    transition: color var(--transition);
}

h1,
h2,
h3 {
    color: rgb(var(--secondary-rgb));
    transition: color var(--transition);
}

.text-muted {
    color: var(--text-muted);
}

// Library overrides

:root {
    --toastify-icon-color-success: var(--status-success);
    --toastify-icon-color-info: var(--status-info);
    --toastify-icon-color-warning: var(--status-warning);
    --toastify-icon-color-danger: var(--status-danger);
}
.Toastify__toast {
    border: 2px solid rgb(var(--background-rgb));
    background: rgb(var(--nav-background-rgb));
    color: rgb(var(--foreground-rgb));
}
.Toastify__close-button {
    color: rgb(var(--foreground-rgb));
}
