.modal {
    .closeButton {
        position: absolute;
        cursor: pointer;

        font-size: 1.17rem;
        line-height: 1;
        text-align: center;
        top: 0;
        right: 0;
        padding: 2px;

        color: var(--text-muted);
        transition: color var(--transition);

        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
            color: rgb(var(--foreground-rgb));
        }
    }
}
