$editor-padding-vertical: 3px;
$editor-padding-horizontal: 2px;

.inlineEditor {
    outline: none;
    padding: $editor-padding-vertical $editor-padding-horizontal;
    min-height: calc(
        1em * var(--line-height) + 2 * #{$editor-padding-vertical}
    );

    a {
        cursor: pointer;
    }
}
