$media-md: 768px;
$media-lg: 1280px;
$content-width: 1280px;
$topbar-height: 56px;

$page-content-padding-vertical: 1.6rem;
$page-content-padding-horizontal: 2rem;
$page-content-padding-vertical-sm: 0.8rem;
$page-content-padding-horizontal-sm: 1.2rem;
