@use "@/styles/variables/core-variables" as c;

.pageWrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;

    .headingRow {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .buttonGroup {
            display: flex;
            gap: 0.25rem;
        }
    }

    .heading {
        display: flex;
        align-items: center;

        h3 {
            display: flex;
            align-items: center;
        }
    }

    .group {
        display: grid;
        gap: 1rem;
    }
}
