@use "@/styles/variables/core-variables" as c;

.pageWrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;

    .headingRow {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .buttonGroup {
            display: flex;
            gap: 0.25rem;
        }
    }

    .heading {
        display: flex;
        align-items: center;

        h3 {
            display: flex;
            align-items: center;
        }
    }

    .group {
        display: grid;
        gap: 1rem;
    }

    // TODO: Remove me
    .scratchpadPlaceholder {
        display: flex;
        align-items: center;
        height: 1.35em;
        gap: 0.5em;

        & > div {
            background: var(--text-muted);
            border-radius: 2px;
            height: 1.15em;
            opacity: 0.15;

            &:first-child {
                width: 1.15em;
            }
        }
    }
}
